.win-title {
    background-color: transparent;
    background-image: none;
    border: none;
}

.win-title button {
    background-image: none;
    background-color: transparent;
    transition: background-color .15s ease-in-out;
    border-color: transparent;
    box-shadow: none;
}

.win-title button:hover, .win-title button:active {
    background-color: @insensitive_base_color;
}
